.slider img{
    width: 240px;
    height: 250px;
    border-radius: 8px 8px 0px 0px;
}
.slider p{
    margin-left: 0px;
    margin-top: -1px;
    width: 240px;
    text-align: center;
    background-color: rgb(145, 191, 234);
    font-family: fantasy;
    border-radius: 0px 0px 8px 8px;
}
/* .slider p:hover{
    background-color: bisque;
    color: rgb(14, 131, 234);
    transition: all 0.5s;
} */

.main_slider{
    width: 92%;
    padding: 50px;    
}
